body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenido esté centrado verticalmente */
}

.container {
  max-width: 400px;
  margin: 20px; /* Añade margen para evitar que el contenedor toque los bordes de la pantalla */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

h2 {
  margin-top: 0; /* Elimina el margen superior para alinear el título */
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%; /* Usa el 100% del ancho del contenedor */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%; /* Usa el 100% del ancho del contenedor */
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px; /* Añade margen inferior entre botones */
}

button:hover {
  background-color: #0056b3;
}

button.secondary {
  background-color: #6c757d;
}

button.secondary:hover {
  background-color: #5a6268;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
