# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar logs
*.log

# Ignorar directorios de compilación
dist/
build/

# Ignorar archivos temporales de npm
npm-debug.log*
